.eater-regular-header {
    color:red;
    font-family: "Eater", serif;
    font-weight: 400;
    font-style: normal;
}

.original-surfer-regular {
  font-family: "Original Surfer", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h3{
    color:white;
}

p{
    color:white;
}

dd{
    color:white;
}

* {
  box-sizing: border-box;
}

.img-container {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}